target/
*.lock
extism/
dist/
*.mod
*.sum
zig-out
*zig-cache
.vscode/
build/
dist/
*.so
*.dylib
*.dll
.DS_Store
.vscode
.env
*.blend1
node_modules/
package*.json
.xtp/
*_plugin/
vcv_module/res/*.wasm
templates/zig_template/OLD/
