target/
*.lock
extism/
dist/
*.mod
*.sum
zig-out
*zig-cache
.vscode/
build/
dist/
*.so
*.dylib
*.dll
.DS_Store
.vscode
.env
*.blend1
node_modules/
package*.json
*_plugin/
vcv_module/res/*.wasm
OLD/

!templates/*/*_bundle/**

.clangd
